body {
    margin: 0;
    padding: 0;
    background-color: #0d485b; /* Teal background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
}

.header {
    width: 100%;
    background-color: #0d485b;
    box-shadow: 0 0 20px; /* White background color */
    padding: 20px 0; /* Adjust padding as needed */
    text-align: center;
}

.logo {
    max-width: 200px; /* Adjust the max-width as needed */
    height: auto;
}

.title {
    margin: 0;
    margin-top: 10px;
    font-size: small;
    color: white; /* Teal color for the title */
}

.capture-button {
    background-color: #1a8fbf; /* Blue button background color */
    color: #ffffff; /* White button text color */
    border: none; /* Removing border */
    position: relative;
    padding: 15px 50px;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
}

.capture-button:hover {
    background-color: #156d94; /* Darker blue on hover */
}

.introtext {
    color: white;
    text-align: center;
    font-size: x-large;
    margin-top: 100px;
    margin-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    
}

video {

    position: absolute;
    top: 50%; /* Position the top of the video at the vertical center */
    left: 50%; /* Position the left side of the video at the horizontal center */
    transform: translate(-50%, -50%); /* Translate the video back by 50% of its own width and height to center it precisely */
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 10px;
    font-size: 18px;
    pointer-events: none; /* Ensure the overlay doesn't intercept mouse events */
}


