body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-color: #0d485b; /* Blue background */
}

header {
    height: 5vh;
    padding: 5%;
    text-align: center;
}

header img {
    max-width: 15vh;
    position: relative;
}

/*ID CARD 1*/

.idcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* adjust the gap as needed */
    margin-top: 20px; /* optional margin */
    align-items: flex-end;
}

.idcard {
    background-color: #d9d6ca; /* optional background color */
    padding: 20px; /* optional padding */
    max-width: 40vh;
    border-radius: 10px; /* optional border radius */
    display: flex;
    position: relative; /* Relative positioning for absolute child elements */
}

.idcard .profilepic {
    max-width: 20vh;
    max-height: 20vh;
    margin-left: 21.5vh; /* Move image to the right */
    margin-bottom: 2vh;
    margin-top: 0;
}


.name, .position, .connect, .contact-info {
    position: absolute;
    left: 5%; /* Adjust as needed */
    text-align: left;
    font-family: "Arimo", sans-serif;
}

.name {
    top: 0%;
    font-weight:500;
}

.position {
    top: 15%;
    font-size: .9rem;
    font-weight: 400;
}

.connect {
    top: 35%;
    font-weight: 400;
}

.linkedin {
    width: 80%;
    position: absolute;
    top: 150%;
}

.connect .linkedin {
    margin: 0;
    vertical-align: middle; /* Align vertically in case the image has extra space */
    margin-right: 5px; /* Add some space to the right of the LinkedIn logo */
}

.contact-info {
    top: 65%;
    left: 5%;
    line-height: 2.5vh;
    font-weight: 400;
}

.idcard-container .ashtonslogo2 {
    position: absolute;
    top: 85%;
    left: 18%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}

/*ID CARD 2 DESKTOP*/

@media only screen and (min-width: 765px) {
.idcard-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* adjust the gap as needed */
    margin-top: 20px; /* optional margin */
    align-items: flex-end;
}

.idcard2 {
    background-color: #d9d6ca; /* optional background color */
    padding: 20px; /* optional padding */
    max-width: 40vh;
    border-radius: 10px; /* optional border radius */
    display: flex;
    position: relative; /* Relative positioning for absolute child elements */
}

.idcard2 .profilepic2 {
    max-width: 20vh;
    max-height: 20vh;
    margin-left: 21.5vh; /* Move image to the right */
    margin-bottom: 2vh;
    margin-top: 0;
}


.name2, .position2, .connect2, .contact-info2 {
    position: absolute;
    left: 5%; /* Adjust as needed */
    text-align: left;
    font-family: "Arimo", sans-serif;
}

.name2 {
    top: 0%;
    font-weight:500;
}

.position2 {
    top: 15%;
    font-size: .9rem;
    font-weight: 400;
}

.connect2 {
    top: 35%;
    font-weight: 400;
}

.linkedin2 {
    width: 80%;
    position: absolute;
    top: 150%;
}

.connect2 .linkedin2 {
    margin: 0;
    vertical-align: middle; /* Align vertically in case the image has extra space */
    margin-right: 5px; /* Add some space to the right of the LinkedIn logo */
}

.contact-info2 {
    top: 65%;
    left: 5%;
    line-height: 2.5vh;
    font-weight: 400;
}

.idcard-container2 .ashtonslogo22 {
    position: absolute;
    top: 85%;
    left: 18%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}
.ashtonslogo22 {
    position: absolute;
    top: 85%;
    left: 18%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}
}

/*ID CARD 2 FOR MOBILE*/

@media only screen and (max-width:766px) {
.idcard-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* adjust the gap as needed */
    margin-top: 20px; /* optional margin */
    align-items: flex-end;
}

.idcard2 {
    background-color: #d9d6ca; /* optional background color */
    padding: 20px; /* optional padding */
    max-width: 40vh;
    border-radius: 10px; /* optional border radius */
    display: flex;
    position: relative; /* Relative positioning for absolute child elements */
}

.idcard2 .profilepic2 {
    max-width: 20vh;
    max-height: 20vh;
    margin-right: 21.5vh; /* Move image to the right */
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: -3%;
}


.name2, .position2, .connect2, .contact-info2 {
    position: absolute;
    left: 45%; /* Adjust as needed */
    text-align: right;
    font-family: "Arimo", sans-serif;
}

.name2 {
    top: 0%;
    left: 64%;
    font-weight:500;
    width: 30%;
}

.position2 {
    top: 15%;
    font-size: .9rem;
    font-weight: 400;
}

.connect2 {
    top: 35%;
    left: 59%;
    font-weight: 400;
}

.linkedin2 {
    width: 80%;
    right: -4%;
    position: absolute;
    top: 150%;
}

.connect2 .linkedin2 {
    margin: 0;
    vertical-align: right; /* Align vertically in case the image has extra space */
    margin-right: 5px; /* Add some space to the right of the LinkedIn logo */
}

.contact-info2 {
    top: 65%;
    left: 52%;
    line-height: 2.5vh;
    font-weight: 400;
}

.ashtonslogo22 {
    position: absolute;
    top: 85%;
    right: 67%;
    width: 30%;
    height: auto;
    margin-left: 21.5vh; /* Move image to the right */
}
}
